<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.html" %}
  {% include "partials/nav.html" %}
  <body>
      <main class="main-{{page.fileSlug}}">
      {{ content | safe }}
      </main>
    <script src="/js/main.js"></script>
    <script src="https://js.stripe.com/v3"></script>
    {% if checkout %}
      <script src="/js/payment.js"></script>
    {% endif %}
  </body>
  {% include "partials/footer.html" %}  
</html>