---
layout: base
---
<section class="parabola-grid donate">
    <div class="big:parabola-cols-half parabola-cols-full">
        {{ content | safe }}
        <div class="donate-buttons"> 
               
            <p><button
                class="submit-btn btn-1"
                id="checkout-button-price_1LKnlTCeHdK1kOc2U4GXEiRK" role="link" type="button">
                Donate $25
            </button></p>
            
            <p><button
                class="submit-btn btn-1"
                id="checkout-button-price_1LKnlTCeHdK1kOc2CNXsAUdV" role="link" type="button">
                Donate $100
            </button></p>
            
            <p><button
                class="submit-btn btn-1"
                id="checkout-button-price_1LKnlTCeHdK1kOc2L8IN1zrl" role="link" type="button">
                Donate $500
            </button></p>
            
            <p><button onclick="location.href='https://buy.stripe.com/14kbK80GrbS10FOaEI'" class="submit-btn btn-1" type="button">
                Custom Amount
            </button></p>           
        </div>
    </div>
    <div class="parabola-cols-full big:parabola-cols-half">
    
        <div id="error-message"></div>
    </div>

</section>


