---
layout: base
---

<section class="parabola-grid about-board" style="margin-top: 4rem">
    <div class="big:parabola-cols-half parabola-cols-full">
        {{ content | markdown | safe }}
    </div>
    <div class="big:parabola-cols-half parabola-cols-full">
        <figure style="width:100%; height:auto; margin-left: 4rem;">
            <img src="/img/op-ed-2-img.webp" alt="Grant Ellis, Legal Intern, Parabola Center"/>
            <!-- <figcaption>Grant Ellis</figcaption> -->
        </figure>
    </div>
</section>