---
layout: base
---

<section class="parabola-grid about-board" style="margin-top: 4rem">
    <div class="big:parabola-cols-half parabola-cols-full">
        {{ content | markdown | safe }}
    </div>
    <div class="big:parabola-cols-half parabola-cols-full">
        <figure style="width: 200px; height: auto; text-align:center;">
            <img src="/img/shaleen-headshot-op.webp" alt="Shaleen Title">
            <figcaption>Shaleen Title</figcaption>
        </figure>
        <figure style="width: 200px; height: auto; text-align:center;">
            <img src="/img/stoller-headshot.webp" alt="Matt Stoller">
            <figcaption>Matt Stoller</figcaption>
        </figure>
    </div>
</section>