---
layout: base
---
<section class="parabola-grid pdf">
    <h1 class="parabola-cols-full big:parabola-cols-full">{{partners.header}}</h1>
    {% for item in partners.items %}
    <figure class="parabola-cols-full big:parabola-cols-quarter">
        <div style="height:200px; background-color:aqua"></div>
        <!-- <img src="{{item.image}}" alt="{{item.alt}}"> -->
        <a href="{{ item.url }}">

            <p>{{ item.title }}
            </p>
        </a>
        <figcaption>{{ item.caption }}</figcaption>
    </figure>
    
    {% endfor %}
</section>
