---
layout: base
---
<section class="parabola-grid pdf">
  <h1 class="big:parabola-cols-full parabola-cols-full">{{resources.header1}}</h1>
  {% for item in resources.portfolio %}
  <a class="parabola-cols-full big:parabola-cols-quarter" href="{{ item.url }}">
        {{ item.title }}
  </a>
  {% endfor %}
  <h1 class="parabola-cols-full big:parabola-cols-full">{{resources.header2}}</h1>
  {% for item in resources.positions %}
  <a class="parabola-cols-full big:parabola-cols-quarter"
    href=" {{ item.url }}">

        {{ item.title }}

  </a>
  {% endfor %}
  <h1 class="parabola-cols-full big:parabola-cols-full">{{resources.header3}}</h1>
  {% for item in resources.videos %}
  <a class="parabola-cols-full big:parabola-cols-quarter"
    href=" {{ item.url }}">

        {{ item.title }}
</a>
{% endfor %}
</section>
<section>
<div class="parabola-cols-full big:parabola-cols-full">
  {{resources.content | markdown | safe}}
</div>
</section>