---
layout: base
---

<section class="parabola-grid">
  <div class="parabola-cols-full big:parabola-cols-half">
    {{ training.content | markdown | safe }}
  </div>
  <div class="big:parabola-cols-half parabola-cols-full">
    <img src="{{training.imageOne}}" alt="{{training.imageOneAlt}}" class="max-width">
  </div>
</section>
<section class="parabola-grid">
  <div class="parabola-cols-full big:parabola-cols-full">
      {{ training.contact | markdown | safe}}
  </div>
</section>