---
layout: base
---

<section class="parabola-grid">
  <div class="parabola-cols-full big:parabola-cols-half">
    {{ training.content | markdown | safe }}
  </div>
  <div class="big:parabola-cols-half parabola-cols-full">
    <img src="{{training.imageOne}}" alt="{{training.imageOneAlt}}" class="max-width">
  </div>
  <div class="big:parabola-cols-half parabola-cols-full">
    <p>{{training.header}}</p>
    <ul>
      {% for service in training.services %}
        <li>{{service.text}}</li>
      {% endfor %}
    </ul>
    {{training.message | markdown | safe}}
  </div>
  <div class="big:parabola-cols-half parabola-cols-full">
    <img src="{{training.imageTwo}}" alt="{{training.imageTwoAlt}}" class="max-width">
  </div>
</section>