<header id="top">
  <div class="parabola-grid">
    <nav class="parabola-cols-full">
      <a href="/" class="brand" title="Home page link">
        <img class="max-width" src="{{navigation.logo}}" alt="Parabola Center logo" height="511" width="1400" />
      </a>
      <ul id="navbar__menu">
        {%- for nav in collections.nav %}
        <li {% if page.url==nav.url %} aria-current="page" {% endif %}>
          <a href="{{nav.url}}" {% if page.url==nav.url %} class="active-nav" {% endif %}>{{nav.data.title}}</a>
        </li>
        {%- endfor %}
      </ul>
      <button class="mobile-button" id="navbar__mobileButton">Menu</button>
    </nav>
  </div>
</header>